---
import Home from "@/components/home.tsx";
import "@/styles/globals.css";
---

<html class="dark" lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.jpg" type="image/jpeg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Alexandru Groza -- Portfolio</title>
  </head>
  <body class="w-screen h-screen">
    <Home client:only="react" />
  </body>
</html>
