---
import "@/styles/globals.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.jpg" type="image/jpeg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>MarkedOne - Portfolio</title>
	</head>
	<body class="bg-black">
		<p class="text-red-500">Coming soon...</p>
	</body>
</html>
