---
import "@/styles/globals.css";
import Header from "@/components/header.tsx";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.jpg" type="image/jpeg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>MarkedOne - Portfolio</title>
	</head>
	<body>
		<Header />
	</body>
</html>
